<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hawbridge Coders</title>
  </head>
  <body>
    <div id="welcome">
     <h1>Hawbridge Coders</h1>
     <p>Welcome</p>
    </div>
    
    <div class="headable">
      <p><em>TADA!</em></p>
    </div>
    
    <ul>
      <li id='item1' class="red">This should be red</li>
      <li id='item2' class="blue">This should be blue</li>
    </ul>
  </body>
</html>
